body {
    background-color:rgb(130, 207, 207);

a {
    font-size: 50px;
}
.art1 {
    background-color:rgb(37, 130, 216);
}
.art2 {
    background-color:rgb(228, 147, 26);
}
.art3 {
    background-color:rgb(130, 207, 207);
}

